<div class="wrapper d-flex">
  <div class="sidebar">
    <div>
      <div href="" class="logo">
        <img src="/assets/raven.png" alt="Crow logo" width="25px" height="25px">
      </div>
      <span class="project-name">hugunnin</span>
    </div>
    <ul class="mt-5 list-unstyled components">
      <li class="unstyled-list-item">
        <i class="bi bi-plus-lg" [routerLink]="['/create-theory']"></i>
      </li>
      <li class="unstyled-list-item">
        <i class="bi bi-list" [routerLink]="['/list-theories']"></i>
      </li>
      <li class="unstyled-list-item">
        <i class="bi bi-bookmark" [routerLink]="['/manage-labels']"></i>
      </li>
      <li class="unstyled-list-item">
        <i class="bi bi-trash" [routerLink]="['/destroy-theory']"></i>
      </li>
      <li class="unstyled-list-item">
        <i class="bi bi-minecart-loaded" [routerLink]="['/ads']"></i>
      </li>
      <div class="last-item mb-3">
        <ul class="list-unstyled components">
          <li class="unstyled-list-item">
            <i class="bi bi-arrow-up-right" [routerLink]="['/outside']"></i>
          </li>
        </ul>
      </div>
    </ul>
  </div>
  <div class="main">
    <div class="m-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>