<div class="custom-panel">
    <p>Create Theory!</p>
    <small>Remeber to select a new label with anime, movie, serie...</small>
</div>

<div class="mt-3 custom-panel">
    <form class="theory-form">
        <div class="form-area">
            <label for="theoryName" class="form-label">Theory Name</label>
            <input type="name" name="theoryName" id="theoryName" [(ngModel)]="theory.name" required class="form-control">
        </div>
        <div class="form-area">
            <label for="theoryAuthor" class="form-label">Theory Author</label>
            <input type="text" name="theoryAuthor" id="theoryAuthor" [(ngModel)]="theory.author" required class="form-control">
        </div>
        <div class="form-area">
            <label for="theoryDescription" class="form-label">Theory Author</label>
            <textarea rows="5" type="text" name="theoryDescription" id="theoryDescription" [(ngModel)]="theory.description" required class="form-control"></textarea>
        </div>
        <div class="toolbar" role="toolbar">
            <div class="btn-group">
                <button class="mt-3 btn btn-dark" (click)="showTheory()">Create!</button>
                <button class="mt-3 btn btn-danger" (click)="resetTheory()">Reset!</button>
            </div>
        </div>
    </form>
</div>