/* You can add global styles to this file, and also import other style files */
.custom-panel{
    background-color: rgb(59, 59, 59);
    color: rgb(205, 205, 205) !important;

    border-radius: 5px;
    padding: 10px;
}